.indicacao-menu-navbar {background: #F5F5F5; padding: 1px;}
.indicacao-menu-navbar ul {display: flex; list-style: none}
.indicacao-menu-navbar ul a {text-decoration: none; padding: 10px;}

.Container2{
    border: 2px black solid;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    width:80%;
    height: 60vh;
    display: flex;
    
}

.detalhes {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    padding: 40px;
    border: 2px solid black;
    width: 894px;
    height: 469px;
    border-radius: 10px;
    margin-left: 45rem;
    margin-bottom: 2rem; 
    flex-wrap: wrap;
    justify-content: space-between;
}


.input-group{
    display: flex;
    flex-wrap: wrap;
    
}
.input-group label{
    margin-bottom: 0.2rem;
    display: block;
}



.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: flex;
    width: 5rem;
    height: 0.3rem;
    background-color:white;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


.detalhes input{
    width: 100%;
    padding: 1rem;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
}


.detalhes .input-box{
    margin-bottom: 1rem;
}

.nomeEmail{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    width: 52%;
}
.nomeEmail .input-box:first-child{
    width: 800px;
}
.nomeEmail .input-box:last-child{
    width: 800px;
}



.cpfRg{
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    width: 52%;
}

.cpfRg .input-box:first-child{
    width: 800px;
}
.cpfRg .input-box:last-child{
    width: 800px;
}
.data{
    width: 52%;
}



.button-infoConta{
    text-align: right;
    display: flex;
    padding-left: 81%;
}