.produto-unico{display: flex; column-gap: 1rem; margin-top: 2rem;}

.produto-infos-detalhes h2{margin-top: 0; padding: 0; text-align: left;}

h3.produto-infos-valor {
    margin: 0;
}

select.select-qtdade-box {
    padding: 5px;
}

.escolhercores {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.escolhertamanho {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.quantidade-likes-dislike {
    margin-top: 0px;
    margin-left: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.actual-page {
    color: #FF4F4F !important;
}


.produto-escolha {
    display: flex;
    flex-direction: column;
}

.produto-escolha img{
    width: 130px;
    height: 130px;
    border-radius: 15px;
}

.produto-escolha-img {
    margin-bottom: 15px;
}

.imagem-principal img{
    width: 550px;
    height: 550px;
    border-radius: 15px;
}

.produto-infos {
    display: flex;
    flex-direction: column;
   
}

.produto-infos-entrega {
    margin-top: 1rem;
}

.produto-infos-entrega-adicionar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.produto-infos-entrega-frete {
    font-size: 16px;
    font-weight: 400;
}

.produto-infos-entrega-condicoes {
    width: 210px;
    height: 32px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 100px;
}

.produto-infos-entrega .material-symbols-outlined {
    font-size: 50px;
    margin-top: 30px;
    margin-right: 5px;
}

.produto-infos button {
 
}

.produto-infos button:hover {
}



.produto-infos h4 {
  
}

.delivery-icon {
    color: pink;
}

.material-symbols-outlined {
    color: #000;
}
.like-dislike {
    display: flex;
    column-gap: 0.5rem;
}

.material-symbols-outlined:hover, .avaliacao-mais:hover {
    color: #FF4F4F;
    cursor: pointer;
}

.avaliacao-mais {
    width: 170px;
}


.botao-frete {
}

.sobre-produto {
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.19) 0%, rgba(231, 231, 231, 0.1) 100%);
    margin-top: 60px;
    padding: 40px 0 80px;
}

/* .sobre-produto-imagem {
    width: 840px;
    height: 840px;
    margin-left: 732px;
    margin-top: -600px;
}

.descricao-paragrafo, .sobre-produto-titulo, .descricao-paragrafo, .descricao-especificacoes-titulo, .descricao-especificacoes-lista {
    margin-left: 260px;
}*/

.sobre-dir img {
    width: 450px;
}

.sobre-esq{width: 80%;}
.sobre-produto-titulo{
    margin-bottom: 0;
    padding-bottom: 0;
}
.sobre-produto .container{
    display: flex;
    align-items: center;
}

.sobre-produto-titulo {
    text-align: center;
    font-family: 'Lato'; 
    font-style: normal;
}

.descricao-paragrafo {
    font-size: 20px;
    margin-top: 48px;
}

.produto-avaliacoes {
    flex-direction: column;
    margin-top: 35px;
}

.produto-avaliacoes .container{
    display: flex;
    column-gap: 1rem;
}


.produto-avaliacoes-lista ul{
padding-left: 0;
}
.produto-avaliacoes-lista li {
    list-style: none;
    margin:0 0 20px;
}

.like-dislike{
    display: flex;
}
.avaliacoes{
    display: flex;
    flex-direction: column;
    margin-left: 703px;
    margin-bottom: 150px;
}

.avaliacoes-texto {
    padding: 0px;
}

.avaliacao-1, .avaliacao-2, .avaliacao-3 {
    height: 120px;
    margin-bottom: 85px;
}

.carousel-produtos-semelhantes {
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 1px solid #000000;
}

.lista-categorias {
    display: flex; 
    list-style: none; 
    justify-content: space-between; 
    margin: 0; 
    column-gap: 20px; 
    padding: 10px 0
}

.lista-categorias > li {
    border-radius: 10px; 
    border: solid #fff 1px; 
    color: #fff; 
    text-align: center;
}
.lista-categorias li img {
    width: 100%;
}


.lista-produtos-semelhantes {
    background: #F6F6F6; 
    padding: 15px 10px 35px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border-radius: 10px; 
    background: linear-gradient(180deg, #F6F6F6 0%, #D6D6D6 100%);
    height: 394px;
    width: 285px;
}

.lista-produtos-semelhantes h4 {
    color: #000;
}

.botao-eu-quero {
    border: 1px solid #000000;
    border-radius: 10px;
}

.produtos-collabs-marcas {
    display: flex;
    justify-content: center;
    margin-bottom: 210px;
}

.produtos-collabs h3 {
    text-align: center;
}

.produtos-collabs-titulo {
    text-align: center;
}

.botao-ver-mais {
    background:transparent; 
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-left: 140px;
}

.botao-ver-mais:hover {
    background-color: #000; color: #fff;
}

