
.nav-bar {
    background-color: #F0EEED;
    height: 45px;
    padding: 1px;
}

.path-bar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14;
    margin-left: 310px;
    position: absolute;
    letter-spacing: 0.05em;

}

.path-bar ul li {
    margin-right: 10px;
    margin-left: 10px;
}

.path-bar ul li a {
    text-decoration: none;
    color: #000;
}

.actual-page {
    color: #FF4F4F !important;
}



.qs-image {
    width: 100%;
}

.first-title {
    position: absolute;
    width: 603px;
    margin-left: 150px;
    top: 220px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    letter-spacing: 0.05em;

}

.title-description   {
    position: absolute;
    width: 599px;
    margin-left: 150px;
    top: 439px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
}


.about-title {
    position: absolute;
    width: 375px;
    height: 77px;
    margin-left: 150px;
    top: 770px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 77px;
    letter-spacing: 0.05em;
}

.about-description {
    position: absolute;
    width: 773px;
    height: 277px;
    margin-left: 150px;
    top: 900px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.nike-rosa {
    position: absolute;
    width: 499.34px;
    height: 499.34px;
    left: 803px;
    top: 523.06px;
}

.nike-amarelo {
    position: absolute;
    width: 768px;
    height: 768px;
    left: 740px;
    top: 715px;
}

.movement-title {
    position: absolute;
    width: 650px;
    height: 223px;
    margin-left: 150px;
    top: 1642px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.2em;
    color: #000;
}

.movement-word {
    position: absolute;
    width: 505px;
    height: 36px;
    margin-left: 150px;
    top: 1750px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 36px;
    letter-spacing: 0.2em;
    color: #000;
}

.movement-description {
    position: absolute;
    width: 505px;
    height: 36px;
    margin-left: 150px;
    top: 1865px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;
    color: #000;
}

/*.numbers-title {
    position: absolute;
    width: 281px;
    height: 77px;
    left: 150px;
    top: 1500px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
}*/


.numbers p {
    position: absolute;
    margin-left: 200px;
    width: 391px;
    height: 261px;
    top: 2100px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    letter-spacing: 0.00em;
    color: #000000;

}

span {
    color: #FF4F4F;
}

.word-apart {
    color: #000;
    font-size: 64px;
}

.word {
    font-size: 64px;
}

.numbers-01 {
    left: 150px;
}

.numbers-02 {
    left: 556px;
}

.numbers-03 {
    left: 990px;
}

.titulo {
    font-size: 70px;
    padding-top: 146px;
}

.subtitulo-cidade {
    font-size: 50px;
    font-weight: 900;
}

.contacts {
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
}

.image {
    background-image: url(../img/runner.png); 
    background-position: center; 
    background-repeat: no-repeat;
    height: 1100px;
    margin-top: 2000px;
    width: 100%;
}